<div id="{{ elementId }}" class="showcase-container">
	<div class="collection-container">
		{{ render(controller("ArnmCatalogBundle:Showcase:renderCollection", {'collection': collection })) }}
	</div>
	<div class="collection-container hide">
	</div>
</div>